 .stakemelon-section{
    .stakemelon-top{
        .box-wrapper{
            margin-bottom: 55px;
            .stakelp-box{
                display: flex;
                text-align: right;
                width: 100%;
                justify-content: center;
                padding: 40px 15px;
                .left{
                    width: 100%;
                }
                .specialInput{
                    width: 75% !important;
                    margin: auto;
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding-left: 30px;
                }
                .zerPadding{
                    padding-left: 0px !important;
                    width: 50% !important;
                    margin: auto;
                }
                p{
                    font-family: rainyhearts;
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #ffffff;
                    margin-bottom: 0;
                    margin-top: 5px;
                }
                input{
                    margin-right: 20px;
                }
            }
            .stakelp-box-price{
                font-family: rainyhearts;
                font-size: 1.4rem;
                font-weight: 600;
                color: #ffffff;
                margin-bottom: 0;
                margin-top: 5px;
            }
            .harvest{
                flex-direction: column;
                text-align: center !important;
            }
            .headings{
                color: #ffffff;
                margin-bottom: 0;
            }
            .stakelp-box-bottom{
                font-family: rainyhearts;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #ffffff;
                    margin-bottom: 10px;
                    margin-top: 0;
                }
            }
        }
    }
    .stakemelon-bottom{
        font-family: rainyhearts;
        font-size: 1.3rem;
        font-weight: 600;
        color: #ffffff;
        text-align: left;
    }
 }

  .datepicker-melon{
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 45px;
    padding: 0 20px;
    font-size: 1.4rem;
    font-family: rainyhearts;
    width: 100%;
 }

 .react-datepicker{
    .react-datepicker__day{
        &:hover{
            background: #7d88be;
        }
        &.react-datepicker__day--selected{
            background: #7d88be;
        }  
        &.react-datepicker__day--keyboard-selected{
            background: #7d88be;
        } 
    }
    .react-datepicker-time__caption{
        font-weight: 500;
    }
 }